.input-wrapper {
  margin-bottom: 16px;
}

.input-field {
  width: 425px;
  padding: 12px;
  font-size: 16px;
  border-radius: 10px;
  background: #ffff;
  border: 1px solid var(--border-color) ;
  color: #212121;
   
}

@media (max-width: 600px) {
  .input-field {
    width: 300px;
  }
}
